<template>
    <div >
      <Publication v-for="publication,index in publications" :publication="publication" :key="index"/>
    </div>
</template>

<script>
import Publication from "../components/Publication.vue";
// const {RequestUtils} = require("../utils/requestUtils")
const {Commons} = require("../utils/commons")

export default {
  name: "Publications",
  components:{
    Publication
  },
  props: {
  },
  data(){
    return{
      publications:[],
    }
  },
  mounted(){
    this.loadPublications()
    setInterval((callSite)=>{
      callSite.textWriten = !Commons.isEmpty(callSite.newMessageText)
    },500,this)
  },
  methods:{
    loadPublications:function(){
      if(window.schooler.userData&&!Commons.isEmpty(window.schooler.userData.publications)){
        console.log("publications already exist")
        this.publications = window.schooler.userData.publications
        return
      }
      // const data = await RequestUtils.getDataFrom("http://localhost:8080")
      const publications=require("../assets/raws/defaultPublications.json")

      const orderedPublications =publications.sort((publicationA,publicationB)=>{
        return publicationB.at-publicationA.at
      })
      window.schooler.userData.publications = orderedPublications
      this.publications = window.schooler.userData.publications
    },
  }
};
</script>

<style scoped>

</style>
