<template>
  <div class="container" v-if="dataLoaded">
    <h1 class="pageTitle p-3">Connection</h1>
    <br />
    <form>
      <label for="userPseudo">Pseudo d'utilisateur</label>
      <input class="form-control" v-model="userPseudo" />
      <br />
      <label for="userPassword">Mot de passe</label>
      <input class="form-control" v-model="userPassword" type="password" />
    </form>
    <br />
    <button class="btn p-2 schooler_btn" @click="logIn()">Se connecter</button>
    <br />
    <span class="signupText">N'avez vous pas encore de compte?
      <router-link to="/signup">S'inscrire</router-link>
    </span>
  </div>
</template>

<script>
  const { RequestUtils } = require("../utils/requestUtils");
  const { Commons } = require("../utils/commons");
  const { DataUtils } = require("../utils/dataUtils");

  export default {
    name: "Login",
    metaInfo: {
      title: 'Schooler - Login'
    },
    data() {
      return {
        userPseudo: "",
        userPassword: "",
        dataLoaded:false
      };
    },
    async mounted() {
        await Commons.waitUntil(() => { return window.schooler.loaded })
        this.dataLoaded=true
      if (window.schooler.userData.userConnected)
        this.$router.push("/publications");
    },
    methods: {
      logIn: async function () {
        const loginData = {
          pseudo: this.userPseudo,
          password: this.userPassword
        };
        const loginResponse = await RequestUtils.sendRequestTo(
          window.schooler.apiEndpoints.loginUrl,
          "post",
          null,
          loginData
        );
        if (!Commons.isEmpty(loginResponse.error)) {
          Commons.sendAlert(
            "",
            "une erreur s'est produite, veuillez recommencer",
            false
          );
          return;
        }
        if (!loginResponse.success) {
          Commons.sendAlert("", loginResponse.message, false);
          return;
        }
        window.schooler.userData = {
          user: loginResponse.data.user,
          userConnected: true,
          isAdmin: loginResponse.data.user.role.startsWith("admin")
        };
        this.$cookie.set('userData', JSON.stringify(window.schooler.userData), { expires: '3D' });
        await DataUtils.loadUsers()
        this.$router.push("/publications");
      }
    }
  };
</script>

<style>
  .appContainer {
    background-color: var(--schooler_light_1);
  }
</style>

<style scoped>
  .pageTitle {
    text-align: center;
    font-size: 50px;
    color: var(--schooler_dark_1);
  }

  .signupText {
    font-size: 12px;
  }
</style>