<template>
  <div class="pb-2">
    <div v-if="showMessages">
      <div class="userDescription">
        <div class="d-inline-block return m-2 hover_pointer" @click="switchMessageShowing()">
          <img :src="require('../assets/x.svg')" />
        </div>
        <div class="d-inline-block m-2">
          <img
            :src="require('../assets/usersPictures/userPicture_'+conversationToShow.conversationBynome.picture+'.png')" />
        </div>
        <div class="d-inline-block">{{conversationToShow.conversationBynome.userName}}</div>

      </div>
      <ConversationMessages :conversation="conversationToShow" :refrecheMessages="refrecheMessages"  />
    </div>
    <div v-else>
      <div v-for="conversation ,index in conversations" :key="index">
        <div @click="showConversation(conversation.conversationBynome)">
          <Conversations :conversationData="conversation" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Conversations from "../components/Conversations.vue";
  import ConversationMessages from "../components/ConversationMessages.vue";
  const { DataUtils } = require("../utils/dataUtils")
  const { Commons } = require("../utils/commons")

  export default {
    name: "Messages",
    metaInfo: {
      title: 'Schooler - Messages'
    },
    components: {
      Conversations,
      ConversationMessages,
    },
    data() {
      return {
        conversations: [],
        conversationToShow: {},
        showMessages: false
      }
    },
    async mounted() {
      await Commons.waitUntil(()=>{return window.schooler.loaded})
      if (!window.schooler.userData.userConnected)
      this.$router.push("/");
      this.loadConversations();
    },
    methods: {
      loadConversations: function () {
        if(!Commons.isEmpty(window.schooler.userMessageToShow)){
          this.showConversation(window.schooler.userMessageToShow)
          window.schooler.userMessageToShow = {}
        }
        if (!Commons.isEmpty(window.schooler.conversations)) {
          console.log("conversations already exist");
          this.conversations = window.schooler.conversations.filter((conversation)=>
            conversation.conversationBynome.uuid.localeCompare("publicationGroupe")!==0
        );
        console.log(this.conversations)
          return;
        }
        this.refrechConversations()
      },
      refrechConversations: async function () {
        await DataUtils.loadConversations()
        this.conversations = window.schooler.conversations.filter((conversation)=>
            conversation.conversationBynome.uuid.localeCompare("publicationGroupe")!==0
        );
      },
      showConversation: async function (conversationBynomeData, switchMessageShowing = true) {
        await DataUtils.loadMessagesWith(conversationBynomeData)
        this.conversationToShow = window.schooler.messages[conversationBynomeData.uuid]
        if (!switchMessageShowing) return
        this.switchMessageShowing()
      },
      switchMessageShowing: function () {
        window.schooler.userData.hideNavBar = !window.schooler.userData.hideNavBar
        this.showMessages = !this.showMessages
      },
      refrecheMessages: async function () {
        await this.showConversation(this.conversationToShow.conversationBynome, false)
        await this.refrechConversations()
      }
    }
  }
</script>

<style scoped>
  .userDescription img {
    height: 50px;
    border-radius: 40%;
  }

  .userDescription {
    background-color: var(--schooler_dark_2);
  }

  .return {
    border: solid var(--schooler_light_3) 10px;
    background-color: var(--schooler_light_3);
    border-radius: 200% 5px 5px 50%;
  }

  .return img {
    width: 20px;
    height: 20px;
  }
</style>