<template>
  <div>
    <Publication v-for="publication,index in publications" :publication="publication" :key="index" />
    <div v-if="isAdmiinUser">
      <br /><br /><br />
      <MessageWriteZone :sendMessageFunction="sendMessage" />
    </div>
  </div>
</template>

<script>
  import Publication from "../components/Publication.vue";
  import MessageWriteZone from "../components/MessageWriteZone.vue";
  const { Commons } = require("../utils/commons")
  const { DataUtils } = require("../utils/dataUtils")

  export default {
    name: "Publications",
    metaInfo: {
      title: 'Schooler - Publications'
    },
    components: {
      Publication,
      MessageWriteZone
    },
    props: {
    },
    data() {
      return {
        publications: [],
        isAdmiinUser: false,
      }
    },
    async mounted() {
      await Commons.waitUntil(() => { return window.schooler.loaded })
      if (!window.schooler.userData.userConnected)
        this.$router.push("/");
      this.loadPublications()
      this.isAdmiinUser = window.schooler.userData.isAdmin
    },
    methods: {
      loadPublications: function () {
        if (!Commons.isEmpty(window.schooler.messages["publicationGroupe"])) {
          console.log("publications already exist");
          this.publications = window.schooler.messages["publicationGroupe"].orderedMessages
          return;
        }
        this.refrechConversations()
      },
      refrechConversations: async function () {
        await DataUtils.loadMessagesWith({uuid:"publicationGroupe"})
        this.publications = window.schooler.messages["publicationGroupe"].orderedMessages
        console.log(this.publications)
      },
      sendMessage: async function (message) {
        await DataUtils.sendMessage("publicationGroupe", message)
        await this.refrechConversations()
      }
    }
  };
</script>

<style scoped>

</style>