<template>
  <div class="container" v-if="dataLoaded">
    <h1 class="pageTitle p-3">Inscription</h1>
    <br />
    <form>
      <label for="fullName">Nom Complet</label>
      <input class="form-control" v-model="fullName" id="fullName" />
      <br />
      <label for="userPseudo">Pseudo d'utilisateur</label>
      <input class="form-control" v-model="userPseudo" id="userPseudo" />
      <br />
      <label for="userPassword">Mot de passe</label>
      <input class="form-control" v-model="userPassword" id="userPassword" type="password" /><br />
      <label for="confPassword">Confirmation du mot de passe</label>
      <input class="form-control" v-model="confPassword" id="confPassword" type="password" /><br />
      <label for="typeUser">Quel type d'utilisateur êtes vous?</label>
      <select class="form-control" v-model="typeUser" id="typeUser">
        <option value="Etudiant">Etudiant</option>
        <option value="Professeur">Professeur</option>
        <option value="Admin">Administration</option>
      </select>
      <div v-if="typeUser.localeCompare('Admin') === 0">
        <label for="adminRole">Quel est votre fonction?</label>
        <input class="form-control" v-model="adminRole" id="adminRole" /><br />
      </div>
    </form>
    <br />
    <button class="btn p-2 schooler_btn" @click="signUp()">S'inscrire</button>
    <br />
    <span class="signupText">
      Avez vous déja un compte?
      <router-link to="/">Se connecter</router-link>
    </span>
  </div>
</template>

<script>
  // import NavBtn from "./NavBtn.vue";
  const { RequestUtils } = require("../utils/requestUtils");
  const { Commons } = require("../utils/commons");

  export default {
    name: "Signup",
    metaInfo: {
      title: 'Schooler - SignUp'
    },
    // components: {
    //   NavBtn,
    // },
    // props: {
    //   userConnected: Boolean,
    // },
    data() {
      return {
        fullName: "",
        userPseudo: "",
        userPassword: "",
        confPassword: "",
        typeUser: "",
        adminRole: "",
        userDeviceToken: "",
        dataLoaded:false
      };
    },
    async mounted() {
        await Commons.waitUntil(() => { return window.schooler.loaded })
        this.dataLoaded=true

      if (window.schooler.userData.userConnected)
        this.$router.push("/publications");
    },
    methods: {
      signUp: async function () {
        const userDataValidation = await this.validateUserData();
        if (!userDataValidation.isValidData) {
          Commons.sendAlert("", userDataValidation.message, false);
          return;
        }
        const signUpData = this.getUserData();
        const loginResponse = await RequestUtils.sendRequestTo(
          window.schooler.apiEndpoints.signUpUrl,
          "post",
          null,
          signUpData
        );
        console.log(loginResponse);
        if (!Commons.isEmpty(loginResponse.error)) {
          Commons.sendAlert("",
            "une errreur s'est produite, veuillez recommencer",
            false
          );
          return;
        }
        if (!loginResponse.success) {
          Commons.sendAlert("", loginResponse.message, false);
          return;
        }
        Commons.sendAlert("",
          "Inscription avec succès, vous serez notifié quand votre compte aura été authentifié"
        );
        this.$router.push("/");
      },
      validateUserData: async function () {
        let isValidData = true;
        let message = "";

        if (this.userPassword.localeCompare(this.confPassword) !== 0) {
          message = "Les deux mots de passe ne correspondent pas";
          isValidData = false;
        }

        if ((this.typeUser.localeCompare("Admin") === 0) && Commons.isEmpty(this.adminRole)) {
          message = "Veuillez entrer le poste d'administrateur que vous occupez";
          isValidData = false;
        }

        if (Commons.isEmpty(this.userDeviceToken))
          this.userDeviceToken = await this.getDeviceToken();
        if (Commons.isEmpty(this.userDeviceToken)) {
          message =
            "Vous devez activer les notification avant de pouvoir vous inscrire.";
          isValidData = false;
        }
        return { isValidData, message };
      },
      getUserData: function () {
        let role = this.typeUser;
        if (role.localeCompare("Admin") === 0) {
          role += " - " + this.adminRole;
        }
        return {
          fullName: this.fullName,
          pseudo: this.userPseudo,
          password: this.userPassword,
          deviceToken: this.userDeviceToken,
          role: role,
        };
      },
      getDeviceToken: async function () {
        return "sdsd";
      },
    },
  };
</script>

<style>
  .appContainer {
    background-color: var(--schooler_light_1);
  }
</style>

<style scoped>
  .pageTitle {
    text-align: center;
    font-size: 50px;
    color: var(--schooler_dark_1);
  }

  .signupText {
    font-size: 12px;
  }
</style>