<template>
  <div class="pb-2">
    <input class="form-control searchInput my-2" v-model="researchText" placeholder="Rechercher"/>

        <User v-for="(user, index) in users" :userData="user" :key="index" :refrechUsersFunction="refrechUsers" />
  </div>
</template>

<script>
  import User from "../components/User.vue";
  const { Commons } = require("../utils/commons");
  const { DataUtils } = require("../utils/dataUtils");

  export default {
    name: "Users",
    metaInfo: {
      title: 'Schooler - Users'
    },
    components: {
      User,
    },
    data() {
      return {
        users: [],
        researchText: ""
      };
    },
    async mounted() {
      await Commons.waitUntil(()=>{return window.schooler.loaded})
      if (!window.schooler.userData.userConnected)
      this.$router.push("/");
      this.loadUsers();
    },
    methods: {
      loadUsers: function () {
        if (!Commons.isEmpty(window.schooler.users)) {
          console.log("users already exist");
          this.users = window.schooler.users;
          return;
        }
        this.refrechUsers()
      },
      refrechUsers: async function () {
        await DataUtils.loadUsers()
        this.users = window.schooler.users;
      }
    },
    watch:{
        researchText: function(newValue){
            this.users = window.schooler.users.filter((user)=>{
                const searchRegexp = Commons.getSearchRegexFrom(newValue)
                return (
                    searchRegexp.test(user.fullName)||
                    searchRegexp.test(user.role)
                )
            })
        }
    }
  };
</script>

<style scoped>
    .searchInput{
        width:90%;
        position:relative;
        left:5%
    }
</style>