<template>
  <b-modal id="AlertModal" hide-header centered title="Alert" hide-footer>
    <h2>{{ messageTitle }}</h2>
    <h3>{{ message }}</h3>
    <button v-if="greenBtn" class="btn btn-success m-3" @click="greenBtnAction()">
      {{ greenBtnMessage }}
    </button>
    <button v-if="redBtn" class="btn btn-danger m-3" @click="redBtnAction()">
      {{ redBtnMessage }}
    </button>
  </b-modal>
</template>

<script>
  export default {
    name: "AlertModal",
    props: {},
    data() {
      return {
        messageTitle: "",
        message: "",
        greenBtn: "",
        greenBtnMessage: "",
        redBtn: "",
        redBtnMessage: "",
      };
    },
    mounted() {
      this.message = window.schooler.alertMessage;
      setInterval(this.updateModal, 200, this);
      setInterval(this.updateModal, 500, this);
    },
    methods: {
      updateModal: (codeScope) => {
        codeScope.messageTitle = window.schooler.alertData.messageTitle;
        codeScope.message = window.schooler.alertData.message;
        codeScope.greenBtn = window.schooler.alertData.greenBtn;
        codeScope.greenBtnMessage = window.schooler.alertData.greenBtnMessage;
        codeScope.redBtn = window.schooler.alertData.redBtn;
        codeScope.redBtnMessage = window.schooler.alertData.redBtnMessage;
        codeScope.greenBtnAction = function(){
          window.schooler.alertData.greenBtnAction()
          // document.querySelector('#AlertModal').click()
        };
        codeScope.redBtnAction = function(){
          window.schooler.alertData.redBtnAction()
          // document.querySelector('#AlertModal').click()
        };
      },
      greenBtnAction: function () { },
      redBtnAction: function () { },
    },
  };
</script>
<style></style>