<template>
    <div class="user m-3 hover_pointer">
      <div class="userPicture d-inline-block">
        <img v-if="showPuctures" :src="require('../assets/usersPictures/userPicture_'+conversationData.conversationBynome.picture+'.png')"/>
      </div>
      <div class="fullName d-inline-block m-2">
        <span class="mt-2">{{conversationData.conversationBynome.fullName}}</span><br/>
        <span class="text-muted">{{conversationData.message.length>23?shortText(conversationData.message):conversationData.message}}</span>
      </div>  
      <div class="messageDetails d-inline-block text-right">
        <span class="mt-2 text-muted">{{getStringDate(conversationData.sentAt)}}</span><br/>
        <span class="text-muted">{{conversationData.seen?"Vu":""}}</span>
      </div>  
    </div>
</template>

<script>
export default {
  name: "Conversations",
  props: {
    conversationData: Object,
  },
  data(){
    return{
      showPuctures:false
    }
  },
  mounted(){
    setTimeout(function(codeSpace){
      codeSpace.showPuctures=true
    },100,this)
  },
  methods:{
    getStringDate:(timestamp)=>{
      const date = new Date(timestamp)
      return date.getDate()+'/'+date.getMonth()+'/'+date.getFullYear()+" "+date.getHours()+"h"+date.getMinutes()
    },
    shortText:(string)=>{
      return string.substring(0,20)+"..."
    }
  }
};
</script>

<style scoped>
.user {
  height: 60px;
  border-radius: 10px;
}
.userPicture,.messageDetails,img{
  height:100%
}
.userPicture{
  vertical-align: top;
}
.messageDetails{
  float:right;
  height:60px;
}
img{
  border-radius:40%
}
*{
  font-size:12px
}
</style>
