<template>
    <div class="conversationMessage">
      <MessageBuble v-for="message,index in conversation.orderedMessages" :message="message" :key="index"/>
      <br/><br/><br/>
      <MessageWriteZone :sendMessageFunction="sendMessage" />
    </div>
</template>

<script>
import MessageWriteZone from "../components/MessageWriteZone.vue";
import MessageBuble from "../components/MessageBuble.vue";
const {Commons} = require("../utils/commons")
const {DataUtils} = require("../utils/dataUtils")

export default {
  name: "ConversationMessages",
  components:{
    MessageBuble,
    MessageWriteZone
  },
  props: {
    conversation: Object,
    refrecheMessages: Function,
  },
  data(){
    return{
    }
  },
  mounted(){
  },
  methods:{
    sendMessage:async function(message){
      await DataUtils.sendMessage(this.conversation.conversationBynome.uuid,message)
      this.refrecheMessages()
    }
  }
};
</script>

<style scoped>
.conversationMessage{
  position:relative;
}
</style>
