<template>
  <div class="text-muted author position-fixed p-2 hover_pointer" title="Entreprise technologique">
    By Chipdeals Inc.
  </div>
</template>

<script>
  export default {
    name: "Footer",
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
  .author{
    right:0px;
    bottom:0px;
  }
</style>
