<template>
  <div>
    <div class="appHeader">Schooler</div>
    <div class="navBar" v-if="showNavBar">
      <NavBtn path="/publications" name="Publications"/>
      <NavBtn path="/users" name="Utilisateurs"/>
      <NavBtn path="/messages" name="Messages"/>
      <span class="d-inline-block exitButton hover_pointer mt-3" @click="logout()"><img class ="exitPicture" :src="require('../assets/exit.svg')"/></span>
    </div>
  </div>
</template>

<script>
import NavBtn from "./NavBtn.vue";
  const { Commons } = require("../utils/commons");

export default {
  name: "Header",
  components: {
    NavBtn,
  },
  data() {
    return {
      showNavBar: false,
    }
  },
  mounted(){
    this.showNavBar = (window.schooler.userData && window.schooler.userData.userConnected)||false
    if(!this.userConnected) this.$router.push("/")

    setInterval(function(codeSpace){
      codeSpace.showNavBar = (window.schooler.userData && window.schooler.userData.userConnected && !window.schooler.userData.hideNavBar )||false
    },250,this)
  },
  methods:{
      logout: function(){

  Commons.initGlobalVariables();
this.$cookie.set('userData', JSON.stringify({}), { expires: '1s' });
window.location.href="/"
      }
  }
}
</script>

<style scoped>
.appHeader{
  background-color:var(--schooler_dark_4);
  color:var(--schooler_light_1);
  font-size:40px;
}
.navBar{
  background-color:var(--schooler_dark_1);
}

.exitPicture{
    width:25px;
}

.exitButton{
    float: right;
}

</style>
