<template>
  <div>
    <div :class="'m-3 message'+(isMessageSent?' toRight messageSent':'')" >
      <div class="buble p-2">{{message.message}}</div>
      <div :class="'text-muted mt-1 d-inline-block messageDetails'+(isMessageSent?' detail-right':'')">
        <span class="sendingDate">{{sendingDate}} </span> 
        <span v-if="message.seen && isMessageSent" class="seen">Vu</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MessageBuble",
  props: {
    message: Object,
  },
  data(){
    return{
      isMessageSent:false,
      sendingDate:""
    }
  },
  mounted(){
    console.log(this.message)
    if(this.message.senderUuid.localeCompare(window.schooler.userData.user.uuid)===0){
      this.isMessageSent=true
    }
    this.sendingDate = this.getStringDate(this.message.sentAt)
  },
  methods:{
    getStringDate:(timestamp)=>{
      const date = new Date(timestamp)
      return date.getDate()+'/'+date.getMonth()+'/'+date.getFullYear()+" "+date.getHours()+"h"+date.getMinutes()
    },
  }
};
</script>



<style>

</style>
<style scoped>
  .toRight{
    position:relative;
    left: calc( 100% - 170px )
  }
  .messageSent .buble{
    background-color: var(--schooler_light_3)
  }
  .detail-right{
    left:10px
  }
  .message{
    max-width:150px;
  }
  .buble{
    border-radius: 12px;
    background-color: white;
  }
  *{
    font-size:10px
  }
</style>
