<template>
    <div :class="'messageWriteZone baseElement fixed-bottom p-3'+(textWriten?' showSendBtn':'')" >
        <textarea v-model="newMessageText" class="form-control messageInput d-inline-block" placeholder="Saisissez votre message"></textarea>
        <div v-if="textWriten" class="d-inline-block sendMessage hover_pointer" @click="sendMessage()">
          <img :src="require('../assets/sendMessage.png')"/>
        </div>
      </div>
</template>

<script>
const {Commons} = require("../utils/commons")
const {RequestUtils} = require("../utils/requestUtils")

export default {
  name: "MessageWriteZone",
  components:{
  },
  props: {
    sendMessageFunction: Function,
  },
  data(){
    return{
      newMessageText:"",
      textWriten:false,
    }
  },
  mounted(){
    setInterval((callSite)=>{
      callSite.textWriten = !Commons.isEmpty(callSite.newMessageText)
    },500,this)
  },
  methods:{
    sendMessage:async function(){
      this.sendMessageFunction(this.newMessageText)
      this.newMessageText=""
    }
  }
};
</script>

<style scoped>
.conversationMessage{
  position:relative;
}
  .messageWriteZone{
    background-color: var(--schooler_dark_2);
  }

.showSendBtn .messageInput{
  width: 90%;
}


.messageInput{
  height: 30px;
  width: 100%;
  border-radius: 10px;
  resize: none;
  overflow: hidden;
  left:10%;
  vertical-align: middle;
}

.messageInput:focus{
  height: 150px;
  resize: vertical;
  overflow: auto;
  border-radius: 10px 10px 5px 5px;
}

.sendMessage{
  width: 10%;
  position:absolute;
  bottom: 15px;
}

.sendMessage img{
  width:100%
}

</style>
