<template>
    <router-link :to="path" class="d-inline-block m-2">
    <span class="btn d-inline-block">{{name}}</span>
    <br/>
    <div class="sepatation"></div>
    </router-link>    
</template>

<script>
export default {
  name: "NavBtn",
  props: {
    path: String,
    name:String
  },
}
</script>

<style scoped>
*{
  font-size: 12px!important;
}
.btn{
  color: var(--schooler_light_1);
  background-color: var(--schooler_dark_3);
  border-radius:10px
}
.sepatation{
  margin-top: 8px;
  border: solid transparent 2px;
  border-radius: 2px
}

.router-link-active>.sepatation{
  border-color: var(--schooler_light_2);
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 !important;
}

</style>
