<template>
  <div class="user m-3">
    <div class="userPicture d-inline-block hover_pointer" :title="'Plus de détail sur ' + userData.fullName">
      <img v-if="showPuctures" :src="
          require('../assets/usersPictures/userPicture_' +
            userData.picture +
            '.png')
        " />
    </div>
    <div class="fullName d-inline-block m-2">
      <span class="mt-2">{{ userData.fullName }}</span><br />
      <span class="text-muted">{{ userData.role }}</span>
    </div>
    <div @click="sendMessageTo()" class="watchMessages toRight d-inline-block hover_pointer" 
      :title="'Envoyer un message à ' + userData.fullName">
      <img :src="require('../assets/messages.png')" />
    </div>
    <div @click="schowAcceptationModal()" v-if="!userData.isAccepted"
      class="acceptUser toRight d-inline-block hover_pointer" :title="'Accepter ou regeter ' + userData.fullName">
      <img v-if="showPuctures" :src="require('../assets/verified.png')" />
    </div>
  </div>
</template>

<script>
  const { Commons } = require("../utils/commons");
  const { RequestUtils } = require("../utils/requestUtils");

  export default {
    name: "User",
    components: {},
    props: {
      userData: Object,
      refrechUsersFunction: Function,
    },
    data() {
      return {
        showPuctures: false,
      };
    },
    mounted() {
      setTimeout(
        function (codeSpace) {
          codeSpace.showPuctures = true;
        },
        100,
        this
      );
    },
    methods: {
      schowAcceptationModal: function () {
        console.log(this.userData)
        const message =
          "Voulez vous accepter l'utilisateur " +
          this.userData.fullName +
          ", " +
          this.userData.role +
          " à utiliser la plateforme?";

        Commons.sendAlert(
          "Authorisation d'utilisateur",
          message,
          true,
          true,
          "Autoriser",
          this.acceptUser,
          true,
          "Refuser",
          this.declineUser
        );
      },
      setUserAcceptation: async function (userAccepted) {
        const acceptationResponse = await RequestUtils.sendRequestTo(
          window.schooler.apiEndpoints.userAcceptationUrl,
          "post",
          { userUuid: window.schooler.userData.user.uuid },
          {
            "isAccepted":true,
            "userUuid":this.userData.uuid
          }
        )
        console.log(acceptationResponse)
        if (!Commons.isEmpty(acceptationResponse.error)) {
          Commons.sendAlert(
            "",
            "Une erreur s'est produite, veuillez recharger la page s'il vous plait"
          );
          return;
        }
        if (!acceptationResponse.success) {
          Commons.sendAlert("", acceptationResponse.message, false);
          return;
        }
        Commons.sendAlert(
            "Action réussie",
            "L'accès a la plateforme a bien été modifié pour "+ this.userData.fullName
          );
        this.refrechUsersFunction()
      },
      acceptUser: function () { this.setUserAcceptation(true) },
      declineUser: function () { this.setUserAcceptation(false) },
      sendMessageTo: function (){
        window.schooler.userMessageToShow = this.userData;
        this.$router.push("/messages")
      }
    },
  };
</script>

<style scoped>
  .user {
    height: 60px;
    border-radius: 10px;
  }

  .userPicture,
  .watchMessages,
  img {
    height: 100%;
  }

  .userPicture {
    vertical-align: top;
  }

  .toRight {
    float: right;
  }

  .watchMessages {
    height: 60px;
  }

  .acceptUser {
    height: 60px;
  }

  img {
    border-radius: 40%;
  }
</style>