<template>
  <div class="align-center appContainer baseElement">
    <Header />
    <transition name="fade">
      <router-view class="pagesContainer"></router-view>
    </transition>
    <Footer />
    <button class="px-0 py-2 btn btn-outline-danger btnShowCallToActionModal d-none" id="alertBtn" v-b-modal.AlertModal>
    </button>
    <AlertModal />
    <Loader v-if="!loaded"/>
  </div>
</template>

<script>


  import Header from "./components/Header.vue";
  import Footer from "./components/Footer.vue";
  import AlertModal from "./components/AlertModal.vue";
  import Loader from "./components/Loader.vue";
  import axios from "axios";

  const { Commons } = require("./utils/commons");
  const { DataUtils } = require("./utils/dataUtils");
  Commons.initGlobalVariables();

  export default {
    name: "App",
    components: {
      Header,
      Footer,
      AlertModal,
      Loader,
    },
    data() {
      return {
          loaded: false
      };
    },
    async mounted() {
      const userData = this.$cookie.get('userData');
      if (Commons.isEmpty(userData)) {
          window.schooler.loaded = true
          this.loaded = true
          return
        }
      window.schooler.userData = JSON.parse(userData)
      this.$cookie.set('userData', JSON.stringify(window.schooler.userData), { expires: '3D' });
      await DataUtils.loadUsers()
      await DataUtils.loadConversations()
      window.schooler.loaded = true
      this.loaded=true
    },
    methods: {
    },
  };
</script>

<style>
  @font-face {
    font-family: "contentFont";
    src: url(./assets/fonts/content.otf);
  }

  @font-face {
    font-family: "headlineFont";
    src: url(./assets/fonts/headline.ttf);
  }

  :root {
    --headerHeight: 180px;
    --schooler_light_1: #d8f3dc;
    --schooler_light_2: #b7e4c7;
    --schooler_light_3: #95d5b2;
    --schooler_light_4: #74c69d;
    --schooler_light_5: #52b788;
    --schooler_dark_1: #40916c;
    --schooler_dark_2: #2d6a4f;
    --schooler_dark_3: #1b4332;
    --schooler_dark_4: #081c15;
    --danger: var(--color-red);
  }

  html,
  body {
    height: 100%;
    min-height: max-content;
    color: black !important;
    font-size: 14px !important;
    font-family: "contentFont" !important;
  }

  .headline {
    font-family: "headlineFont" !important;
  }

  .baseElement {
    max-width: 425px !important;
    margin: auto;
  }

  .appContainer {
    min-height: 100%;
  }

  .schooler_btn {
    background-color: var(--schooler_light_5) !important;
  }

  a {
    color: var(--schooler_dark_3) !important;
  }

  .hover_pointer {
    cursor: pointer;
  }

  img {
    background-image: linear-gradient(to right,
        #ebebeb calc(50% - 100px),
        #c5c5c5 50%,
        #ebebeb calc(50% + 100px));
    background-size: 0;
    position: relative;
    overflow: hidden;
  }

  img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc(200% + 200px);
    bottom: 0;
    background-image: inherit;
    animation: move 2s linear infinite;
  }

  @keyframes move {
    to {
      transform: translateX(calc(50% + 100px));
    }
  }

  .fade-enter-active {
    transition: opacity 0.5s;
  }

  .fade-enter,
  .fade-leave-to

  /* .fade-leave-active below version 2.1.8 */
    {
    opacity: 0;
  }
</style>