<template>
  <div>
    <div :class="'m-3 p-2 publication'+(reductedPublication?' reduced':'')" >
      <div class="p-2 publication-header">
        <div class="userPicture d-inline-block">
          <img  :src="require('../assets/usersPictures/userPicture_'+publication.sender.picture+'.png')"/>
        </div>
        <div class="fullName d-inline-block m-2">
          <span class="mt-2">{{publication.sender.fullName}}</span><br/>
          <span class="text-muted">{{publication.sender.role}}</span>
        </div>  
        <div class="messageDetails d-inline-block text-right">
          <span class="mt-2 text-muted">{{sendingDate}}</span><br/>
            <span class="hover_pointer" @click="tooglePublicationReduction()" >
              {{reductedPublication?"Plus":"Réduire"}}
            </span>
        </div>  
      </div>
      
      <div class="p-2">{{publication.message}}</div>
      <div class="publicationPicture" v-if="havePuctures">
        <img :src="require('../assets/130188658_690024375233857_106948469018641771_n.jpg')"/>
        <!-- <img :src="publication.picturesLinks[0]"/> -->
      </div>
      
    </div>
  </div>
</template>

<script>
const {Commons} = require("../utils/commons")

export default {
  name: "Publication",
  props: {
    publication: Object,
  },
  data(){
    return{
      sendingDate:"",
      havePuctures:false,
      reductedPublication:true
    }
  },
  mounted(){
    this.sendingDate = this.getStringDate(this.publication.at)
    this.havePuctures = !Commons.isEmpty(this.publication.picturesLinks)

  },
  methods:{
    getStringDate:(timestamp)=>{
      const date = new Date(timestamp)
      return date.getDate()+'/'+date.getMonth()+'/'+date.getFullYear()+" "+date.getHours()+"h"+date.getMinutes()
    },
    tooglePublicationReduction:function(){
      this.reductedPublication=!this.reductedPublication
    }
  }
};
</script>
<style>

</style>
<style scoped>
  .publication-header{
    font-size:12px;
    height: 60px;
  }
  .toRight{
    position:relative;
    left: calc( 100% - 170px )
  }
  .publication{
    background-color: var(--schooler_light_3);
    overflow: hidden;
  border-radius: 10px;
  }
  .publication.reduced{
    height: 106px;
  }
  .publicationPicture{
    width:70%;
    position:relative;
    left:15%;
  }
  .publicationPicture img{
    width:100%
  }
  .publication-header img, .userPicture{
    height:100%
  }
  .userPicture{
    vertical-align: top;
  }
  .messageDetails{
    float:right;
    height:60px;
  }
  .userPicture img{
    border-radius:40%
  }
</style>
